matplotlib == 3.10.1
tqdm == 4.67.1
plotly == 5.24.1
plotly-express == 0.4.1
dash == 3.0.4
ipykernel == 6.29.5
seaborn == 0.13.2
label-studio == 1.18.0
scikit-learn == 1.6.1
scipy == 1.15.3
torch == 2.7.0
torchvision == 0.22.0
torcheval == 0.0.7
optuna == 4.3.0
mlflow == 2.22.0
evidently == 0.7.6
datetime == 5.5